body {
	font-family: Roboto, sans-serif;
	font-size: 1.2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
}

nav, .bg-mira {
	background-color: #0e300e; 
}
.bg-mira-opaque {
	background-color: rgba(14, 48, 14, 0.85);
}

footer {
	background-color: #e7e7e0; 
}


a.navbar-brand {
	font-weight: bold;
	font-size: 1.1rem;
}
a, a:hover, .leaflet-container a {
   text-decoration: none;
	color: #1a7a3c;
}
a:hover {
	text-decoration: underline;
}
a[href^="https://"]:after, a[href^="https://"]:after {
    content: "↗";
    margin-left: 2px;
    color: #aaaaaa;
    font-weight: bold;
}
a.btn {
	font-size: 0.9rem;
}
span.btn {
	font-size: 0.6rem;
}

.chartFullScreen {
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 0;
	width: 100%; 
	height: 90%;
	background-color: white;
}

.pointer-button {
   color: #0e300e; 
}
.hanging-indent {
	padding-left: 1.5rem; /* Adjust the value as needed */
	text-indent: -1.5rem; /* Adjust the value as needed */
}

.home-hero {
	background-image: url('/images/header_0-4.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.text-shadow {
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.text-shadow-none {
	text-shadow: none;
}