DirectoryIndex index.php

RewriteEngine on

# Content pages
RewriteRule ^(libraries|manuscripts|people|places|texts)/?$ index.php?page=$1 [L,QSA]
RewriteRule ^(about)/?$ index.php?page=$1&subpage=$2 [L,QSA]
RewriteRule ^(about)/([a-z]+)/?$ index.php?page=$1__$2 [L,QSA]

# Entity router
RewriteRule ^(library|manuscript|person|place|text)/([a-z0-9_\-]+)/?$ index.php?page=$1&id=$2 [L,QSA]
# Legacy links: older stable URL for MSS
RewriteRule ^[0]*([0-9]+)/?$ index.php?page=manuscript&id=$1

# Entity deferencing for RDF URIs
RewriteRule ^entity/(library|manuscript|person|text)/([a-z0-9_\-]+)/?$ entity_dereferencer.php?type=$1&id=$2 [L,QSA]

# Handle download links
# In two lines to handle _tml.xml before .xml
RewriteRule ^data/(library|manuscript|person|place|text)/([a-z0-9_\-]+)(_tei\.xml)$ download_data.php?type=$1&id=$2&format=$3
RewriteRule ^data/(library|manuscript|person|place|text)/([a-z0-9_\-]+)(\.xml|\.ttl|\.jsonld|\.rdf)$ download_data.php?type=$1&id=$2&format=$3