DirectoryIndex index.php

RewriteEngine on
RewriteRule ^[0]*([0-9]+)/?$ index.php?page=mss&id=$1
RewriteRule ^[0]*([0-9]+)/?$ index.php?page=mss&id=$1
RewriteRule ^library/([a-z0-9_\-]+)/?$ index.php?page=mss&lib=$1
RewriteRule ^people/([a-z0-9_\-]+)/?$ index.php?page=people&id=$1
RewriteRule ^places/([a-z0-9_\-]+)/?$ index.php?page=places&id=$1
RewriteRule ^texts/([a-z0-9_\-]+)/?$ index.php?page=texts&id=$1

RewriteRule ^(about|mss|people|places|texts)/?$ index.php?page=$1

RewriteRule ^([0-9]{1})/xml?$ download.php?p=mss/00$1.xml
RewriteRule ^([0-9]{2})/xml?$ download.php?p=mss/0$1.xml
RewriteRule ^([0-9]{3})/xml?$ download.php?p=mss/$1.xml

